{% comment %}
OpenAFS Security Advisory information table

This table is included at the top of every security advisory page and shown
in the listing of security advisories.
{% endcomment %}
{% assign sa = include.advisory %}
{% if site.collections.security.prefix %}
  {% assign prefix = site.collections.security.prefix %}
{% else %}
  {% assign prefix = "/security" %}
{% endif %}
<table class="sainfo">
  <tr><th align="left">Issued:</th><td>{{ sa.issued }}</td></tr>
{% if sa.updated %}
  <tr><th align="left">Last Update:</th><td>{{ sa.updated }}</td></tr>
{% endif %}
{% if sa.severity %}
  <tr><th align="left">Severity:</th><td>{{ sa.severity }}</td></tr>
{% endif %}
  <tr><th align="left">Affected:</th><td>{{ sa.affected }}</td></tr>
{% if sa.patches %}
  {% for p in sa.patches %}
  <tr>
    <th align="left">Patch:</th>
     <td>
       <a href="{{ prefix }}/{{ p.patch }}">{{ prefix }}/{{ p.patch }}</a>
       {% if p.vers %} (for {{ p.vers }}){% endif %}
       {% if p.sig %} [<a href="{{ prefix }}/{{ p.sig }}">Signature</a>]{% endif %}
    </td>
  </tr>
  {% endfor %}
{% endif %}
<tr>
  <th align="left">Full Text:</th>
  <td>
    <a href="{{ prefix }}/OPENAFS-SA-{{ sa.id }}.html">{{ prefix }}/OPENAFS-SA-{{ sa.id }}.html</a>
    [<a href="{{ prefix }}/OPENAFS-SA-{{ sa.id }}.txt">txt</a>]
  </td>
</tr>
</table>
